[Unit]
Description=Control mpd service
After=dhcpcd.service

[Service]
Type=simple
ExecStart=/usr/bin/control_script.sh
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
